/.idea
/FarmMachine.MonitorStrategy/bin
/FarmMachine.MonitorStrategy/obj
/FarmMachine.Launcher/obj
/FarmMachine.Tests/obj
/FarmMachine.Domain/bin
/FarmMachine.ExchangeBroker.Simulator/bin
/FarmMachine.ExchangeBroker.Simulator/obj
/FarmMachine.Analyzer/bin
/FarmMachine.Analyzer/obj
